body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 55%;
    position: relative;
    left: 300px;
    top: 50px;
}

.link-button {
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}

section {
    display: flex;
}