body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    padding: 20px;
}

.half-width img {
    width: 55%;
    position: relative;
    left: 300px;
    top: 50px;
}

.link-button {
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.spider-man {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 20px;
}

.spider {
    width: 50%;
}

.shadow {
    width: 40%;
    padding: 20px;
    box-shadow: 10px 10px 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
}

.back-left {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

section {
    display: flex;
    margin-bottom: 100px;
}

#border-orenge {
    border-left: 5px solid orange;
}

#border-blue {
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
}